[Unit]
Description=Dynamically Generate Message Of The Day
After=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=300
ExecStartPre=-/bin/sleep 240
ExecStart=/usr/sbin/update-motd
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
